body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(221, 212, 212);
  color:rgb(131, 95, 5);
  text-shadow: 4px 0px 2px rgba(215,189,34,0.6);
  padding:5px;
}